body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1d1d;
}

h1, h2, h3, h4, h5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
}

#game {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    border-color: white;
    border: none;

}

td:hover {
    background-color: #ddd;
}


td:not(:nth-child(3n+1)) {
    border-left: 2px solid white;
}

tr:not(:first-child) td {
    border-top: 2px solid white;
}


.circle svg {
    fill: none;
    stroke: turquoise;
    stroke-width: 5;
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    animation: draw 0.5s forwards;
}

.cross svg {
    fill: none;
    stroke: darkgoldenrod;
    stroke-width: 5;
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    animation: draw 0.5s forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}